{% extends "import.html" %} 
{% block content %}

<h1>Pneumonia Information</h1>
	<h2>Symptoms of Pneumonia</h2>
	<p>Pneumonia can cause a range of symptoms. Some of the most common symptoms include:</p>
	<ul>
		<li>Fever</li>
		<li>Cough with phlegm</li>
		<li>Shortness of breath</li>
		<li>Chest pain</li>
	</ul>
	<p>If you experience any of these symptoms, please contact your healthcare provider immediately.</p>
	<img src="https://s3-us-west-2.amazonaws.com/relhosp-s3.reliancehospitals.com/storage/page_images/5be985727820d.png" alt="Pneumonia Symptoms">

	<h2>Precautions to Take</h2>
	<p>There are several precautions that you can take to prevent the spread of pneumonia. These include:</p>
	<ul>
		<li>Washing your hands regularly with soap and water for at least 20 seconds</li>
		<li>Covering your mouth and nose when you cough or sneeze</li>
		<li>Avoiding close contact with anyone who has pneumonia</li>
		<li>Getting vaccinated against pneumococcal disease and the flu</li>
	</ul>
	<p>Remember, by taking these precautions, you can help protect yourself and others from pneumonia.</p>
	<img src="https://th.bing.com/th/id/OIP.Gc2WTGZ4KLCN_OwzxhIvHwHaHa?pid=ImgDet&rs=1" alt="Pneumonia Precautions"><hr>

    <center>
        <a href="/"><button style="color: rgb(54, 53, 53); display: block;">Back to Home -></button></center></a>

{% endblock content %}