{% extends "import.html" %} 
{% block content %}

<h1>COVID-19 Information</h1>
	<h2>Symptoms of COVID-19</h2>
	<p>COVID-19 can cause a range of symptoms. Some of the most common symptoms include:</p>
	<ul>
		<li>Fever</li>
		<li>Cough</li>
		<li>Shortness of breath</li>
		<li>Loss of sense of smell or taste</li>
	</ul>
	<p>If you experience any of these symptoms, please contact your healthcare provider immediately.</p>
	<img src="https://www.who.int/images/default-source/wpro/health-topic/covid-19/slide2069e18f870374cec818c01cae6a57c13.jpg?sfvrsn=77a95407_2" alt="COVID-19 Symptoms">

	<h2>Precautions to Take</h2>
	<p>There are several precautions that you can take to prevent the spread of COVID-19. These include:</p>
	<ul>
		<li>Wearing a mask when in public</li>
		<li>Washing your hands regularly with soap and water for at least 20 seconds</li>
		<li>Maintaining a distance of at least 6 feet from others</li>
		<li>Avoiding large gatherings and crowds</li>
	</ul>
	<p>Remember, by taking these precautions, you can help protect yourself and others from COVID-19.</p>
	<img src="https://th.bing.com/th/id/OIP.B7CQfOQrVIMsrKrTARBKcQHaL1?pid=ImgDet&rs=1" alt="COVID-19 Precautions"><hr>
<center>
    <a href="/"><button style="color: rgb(54, 53, 53); display: block;">Back to Home -></button></center></a>
{% endblock content %}